$color:#adddff;
html,body {
    height: 100%;
}
div{
    color:red;
    font-size: 24pt;
    text-align: center;
}
p {
    background: url('images/act-trade.png') no-repeat;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-size: contain;
}
