
$color:#adddff;
html,body {
    height: 100%;
}
div{
    color:yellow;
    font-size: 24pt;
}
p {
    background: url('images/act-trade.png') no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}
